@charset "ISO-8859-1";

.menu-button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.search-button {
        background-color: gray;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        height: 30px;
    }
    
    #searchResult {
        
        background-color: gray;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        height: 10px;
    }

body {
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
} 

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

body {
  align-items: flex-start;
}

